
#ignore le snode_modules et les fichiers .env partout dans le projet
**/.env
**/node_modules/

.env

.env.development.local
.env.test.local
.env.production.local 
TODOLIST.md
#Ignore vscode AI rules
.github\instructions\codacy.instructions.md


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
