apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - port: 3000
      targetPort: 3000

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: marinecdt/filrouge-front:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        env:   
        # - name: REACT_APP_API_AUTH_URL
        #   value: "http://auth-service:4000"
        # - name: REACT_APP_API_STORY_URL
        #   value: "http://story-service:5000"
        #   env:
        - name: REACT_APP_API_AUTH_URL
          value: "/api/auth"
        - name: REACT_APP_API_STORY_URL
          value: "/api/story"

